<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="truckersmplauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="truckersmplauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <truckersmplauncher.Properties.Settings>
            <setting name="closeLauncher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ETS2NoIntro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateLauncher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ETS2LaunchArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="ATSNoIntro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ATSLaunchArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="SendStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartSteam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="closeDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1002, 542</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
        </truckersmplauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <truckersmplauncher.Properties.Settings>
            <setting name="LauncherVersion" serializeAs="String">
                <value>0.16</value>
            </setting>
        </truckersmplauncher.Properties.Settings>
    </applicationSettings>
</configuration>